c* {
    margin: 0;
    padding: 0;
}

.container {

    margin: 80px 300px;

    padding: 10px;

    border: 2px solid black;

    width: 750px;

    height: 650px;

}

button {

    margin: 5px;

    padding: 10px;

    border: 2px solid black;

    margin-left: 10px;

}

h4 {

    font-weight: lighter;

}

form {

    margin: 55px;

    margin-left: 600px;

    border-radius: 10px;

    height: 35px;

}

.place {

    margin: 10px;

    margin-top: 50px;

}

h1 {

    font-family: "PT Serif", serif;

    font-size: 50px;

}

h3 {

    font-family: "PT Serif", serif;

    font-size: 20px;

    font-weight: bold;

    margin-bottom: 0;

    margin-top: -20px;



}

.weather {

    display: block;

    margin-top: -90px;

    margin-left: 500px;

}

.weather-icon {

    margin-left: 10px;

    font-size: 8em;

    margin-top: 50px;

    margin-bottom: 0;

}

h1.temperature {

    margin-left: 100px;

    padding: 20px;

    margin: 5px;

    margin-top: 0px;

}

.time {

    /*margin-top: -65px;*/

    font-size: 30px;

    padding: 5px;

    margin-left: 7px;

    margin-bottom: 0;

}

.clock {

    margin: 700px;

    margin-top: -50px;

}

footer {

    position: fixed;

    top: 43em;

    padding: 10px;

}